/* 封闭盒子 */
.box-sizing-border-box{
	box-sizing: border-box;
}
.overflow-hidden {
	overflow: hidden;
}

/* 定位 */
.position-relative {
	position: relative;
}

.position-fixed {
	position: fixed;
}

.position-absolute {
	position: absolute;
}

/* 字体大小 */
@for $i from 10 through 80 {
	.font-size-#{$i}, .f-s-#{$i} {
		font-size: $i + rpx;
	}
}
/* 字体加粗 */
$weight-list: 100 200 300 400 500 600 700 800 900 normal bold bolder lighter inherit;
@each $var in $weight-list {
  .fw#{$var}{
    font-weight: $var;
  }
}

/* 文字对齐 */
.t-center{
    text-align:center;
}
.t-right{
    text-align:right;
}
.t-justify{
    text-align:justify;
}

/*边距*/
@for $i from 0 through 300 {
	.u-margin-#{$i}, .u-m-#{$i} {
		margin: $i + rpx !important;
	}
	.u-padding-#{$i}, .u-p-#{$i} {
		padding: $i + rpx !important;
	}
	.u-margin-top-#{$i}, .u-m-t-#{$i} {
		margin-top: $i + rpx !important;
	}
	.u-margin-bottom-#{$i}, .u-m-b-#{$i} {
		margin-bottom: $i + rpx !important;
	}
	.u-margin-left-#{$i}, .u-m-l-#{$i} {
		margin-left: $i + rpx !important;
	}
	.u-margin-right-#{$i}, .u-m-r-#{$i} {
		margin-right: $i + rpx !important;
	}
	.u-padding-top-#{$i}, .u-p-t-#{$i} {
		padding-top: $i + rpx !important;
	}
	.u-padding-bottom-#{$i}, .u-p-b-#{$i} {
		padding-bottom: $i + rpx !important;
	}
	.u-padding-left-#{$i}, .u-p-l-#{$i} {
		padding-left: $i + rpx !important;
	}
	.u-padding-right-#{$i}, .u-p-r-#{$i} {
		padding-right: $i + rpx !important;
	}
}

/* 字体颜色 #333333*/
.font-color-333, .f-c-333{
	color: #333333;
}


// 布局类
.disp-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-row-re {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.align-self-start {
  align-self: flex-start
}
.align-self-end {
  align-self: flex-end
}
.align-self-center {
  align-self: center
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}